<div class="wltao_package_wp">
	<div class="tb wltao_img_wrap" id="wltao_package_noimg" style="display:none;">
		<img src="http://js.client.walatao.com/v9/godimage/no_package_bg.png" class="wltao_noship_img">
		<div class="wltao_ns_line1">
			<span class="wltao_ns_24">亲</span>，还木有包裹信息哦~</div>
		<div class="wltao_ns_line2">可以
			<strong><a class="wltao_ns_add wltao-stat" data-stat="icon.ship.add" href="{{popupurl}}" target="_blank">添加海淘包裹</a></strong>，对包裹进行全程跟踪管理。</div>
	</div>
	
	<div class="tb wltao_shipList" style="display:none;height:155px;">
		
	</div>
	<div class="tb wltao_shipMore" style="height:25px;display:none;">
		<span style="margin-left:300px"><img style="margin-top:10px;" src="http://js.client.walatao.com/v9/godimage/more_notice_icon.png"/><a href="{{popupurl}}" style="color:#18b4f0;font-size:10px;" target="_blank">我的包裹>></a></span>
	</div>
	<div id="walatao_pack_loading" style="position:absolute; margin:20px 120px; display: none;">
		<img src="http://js.client.walatao.com/v9/godimage/loading.gif">
	</div>
</div>
<!-- 	<div class="query clear wltao_addShip">
		<div class="select_module sl_1">
			<a id="wltao_ship_show"  href="javascript:void(0);" class="option">境外物流</a><span class="arrow"></span>
			<ul class="option_list" style="display:none;" id="wltao_ship_sel">
				<!-- <li value="null" selected><a href="javascript:void(0);">运转四方</a></li>
				<li value="usps" ><a href="javascript:void(0);">USPS</a></li>
				<li value="fedex" ><a href="javascript:void(0);">Fedex</a></li>
				<li value="ups" ><a href="javascript:void(0);">UPS</a></li>
				<li value="dhl" ><a href="javascript:void(0);">DHL(国际)</a></li>
				<li value="dhlde" ><a href="javascript:void(0);">DHL(德国)</a></li>
				<li value="bpost" ><a href="javascript:void(0);">比利时邮政</a></li>
				
				<option ><i class="icon_null"></i>请选择境外物流</option>
				<option value="usps"><i class="icon_usps"></i>USPS</option>
				<option value="fedex"><i class="icon_fedex"></i>Fedex</option>
				<option value="ups"><i class="icon_ups"></i>UPS</option>
				<option value="dhl"><i class="icon_dhl"></i>DHL(国际)</option>
				<option value="dhlde"><i class="icon_dhl"></i>DHL(德国)</option>
				<option value="bpost">比利时邮政</option> 
			</ul>
		</div>
		
		<input type="text" class="wltao_input in_txt order_num" id="wltao_ship_input" limitlength="30" placeholder="请输入运单号" />
		
		<div class="select_module sl_1">
			<a id="wltao_trans_show" href="javascript:void(0);" class="option">转运公司</a><span class="arrow"></span>
			 <ul class="option_list" style="display:none;">
			<ul id="wltao_trans_sel" class="option_list wltao_sel" style="display:none;">
				<li><a href="#">运转四方</a></li>
				<li><a href="#">运转四方</a></li>
				<li><a href="#">运转四方</a></li>
			</ul>
		 </ul> 
		</div>
		<input type="text" class="in_txt sum wltao_input" id="wltao_remark_input" limitlength="32" placeholder="添加备注（限16个汉字）" />
		<a id="wltao_addConfirmBtn" class="btn_query wltao-stat" data-stat="icon.ship.confirm">确定添加</a>
		<!-- <a href="#" class="btn_query">添加</a> 
	</div> 
 	<div class="set clear wltao_add_setting">
		<span class="wltao_set_title txt"><strong>设置</strong>自动查询间隔，每</span>
		<div class="select_module sl_1">
			<a href="#" class="option">1小时</a><span class="arrow"></span>
			<select style="display:none;" class= "option_list wltao_sel" id="wltao_queryInterval_sel">
 				<li><a href="#">1小时</a></li>
				<li><a href="#">1小时</a></li>
				<li><a href="#">1小时</a></li> 
				<option value="1" selected>1小时</option>
				<option value="3">3小时</option>
				<option value="6">6小时</option>
				<option value="12">12小时</option>
				<option value="24">24小时</option>
			</select>
		</div>
	</div> -->
