<style>
.wltao_proxy_hrdiv hr{background-color:transparent;display:block;height:1px;border-width:0;border-top:1px solid #e7e7e7;line-height:19px;margin-top:0;margin-bottom:14px}
</style>

<div style="display: block;line-height:22px;" role="tabpanel" aria-hidden="false" aria-labelledby="ks-switchable29">
	<div style="margin:0px 15px;padding-top:5px;color:#f39800;line-height: 22px;">
		<strong style="color:#f39800;font-size:13px;">瓦拉淘穿越购物设置说明</strong>
		<span style="float:right;"><img style="margin-top:5px;" src="http://js.client.walatao.com/v9/godimage/more_notice_icon.png"/><a style="font-size:10px;color:#18b4f0;" href="{{popupurl}}" target="_blank" id="wltao_myproxy_setlink">我的穿越>></a></span>
	</div>
	<div style="margin:0px 15px;font-size:10px;color:#005e94;line-height: 22px;"><strong style="color:#f39800;">1、</strong> 勾选您需要穿越的购物站点的域名，然后点击[确认设置]按钮，就可以自动为您穿越到国外购物； <!-- </div>
	<div style="margin-left:20px;margin-top:10px;font-size:12px;color:#005e94;"> --><br/><strong style="color:#f39800;">2、</strong> 瓦拉淘购物穿越采用代理方式实现，可能与其他代理翻墙类的插件冲突，冲突时，瓦拉淘会自动停止自身代理避免冲突;</div>
   
	<div class="wltao_proxy_hrdiv" style="margin:3px 15px -10px 15px;color:#005e94;"><hr></div>
	
	<div style="margin:5px 15px 0px 15px;font-size:13px;line-height: 22px;">
		<strong style="color:#f39800;line-height: 22px;">目前购物穿越状态:</strong>
		<span id="wltao_proxy_status_id" style="color:red;font-size:13px; line-height: 20px;"></span>
	</div>   
	<div id="wltao_proxying_url_list" style="margin-left:15px;margin-top:0px;line-height:19px;">
		<span style="margin-left:120px; display:none;" id="wltao_proxy_start_linkbtn">
			<a href="{{popupurl}}" target="_blank"><img src="http://js.client.walatao.com/v9/godimage/start_proxy.png"/></a>
		</span>
		<span style="margin-left:120px; display:none;" id="wltao_proxy_stop_linkbtn">
			<a href="{{popupurl}}" target="_blank"><img src="http://js.client.walatao.com/v9/godimage/stop_proxy.png"/></a>
		</span>
	</div>
	<!-- <div style="float:left;width:100%;margin-left:20px;margin-top:10px;font-size:16px;color:#005e94;">请勾选您需要穿越的购物站点<a style="margin-left:5px;text-decoration:none" id="wltao_proxy_select_all" href="#">全部勾选</a><a style="margin-left:5px;text-decoration:none" id="wltao_proxy_no_select" href="#">取消勾选</a></div> 
	<div id="wltao_proxy_setting_loading" style="float: left; width: 100%; text-align: center; display: none;"><img src="http://js.client.walatao.com/v9/godimage/loading.gif">
		<div style="margin-left:20px;margin-top:10px;font-size:12px;color:#005e94;">正在设置...</div>
	</div>
	<div style="float:left;width:100%;text-align: center;">
		 <button class="wlatao_proxy_add_confirm_btn" disabled="disabled">未登录无法设置代理</button>
	</div>            
	<div style="float:left;margin-left:20px;padding-top:10px;font-size:16px;color:#005e94;">   如果您想要穿越的网站不在上述名单内，请告诉我们，我们会尽快为您解决
	<a href="http://we.walatao.com/question/35" target="_blank" style="margin-left:5px">反馈添加</a></div>         -->
</div>