<div id="wltao_myremind_id" style="display:;">
	<div class="wltao_noRemind" style="display: none;">
		<div class="wltao_img_wrap">
			<img src="http://js.client.walatao.com/v8/godimage/no_remind.png" class="wltao_noship_img">
		</div>
	</div>
	<div class="title">
        <div class="type clearfix">
            <span data-index="price" class="cur">降价</span>
            <span data-index="stock">有货</span>
        </div>
    </div>
    
    <div class="price">
        <div style="display: none;" id="wltao_price_remind_table">
			
		</div>
        <div style="display: none;" class="no_price">
            <div class="arrow"></div>
            <span>还没添加降价提醒</span>
            <p>点击商品页添加降价提醒试试</p>
            <i class="price_remind_logo"></i>
            <a href="http://we.walatao.com/question/134" target="_blank">瓦拉淘使用说明</a>
        </div>
    </div>
    
    <div class="stock" style="display: none">
        <div style="display: none;" id="wltao_stock_remind_table">
			
		</div>
        <div style="display: none;" class="no_stock">
            <div class="arrow"></div>
            <span>还没添加有货提醒</span>
            <p>点击商品页添加有货提醒试试</p>
            <i class="stock_remind_logo"></i>
            <a href="http://we.walatao.com/question/134" target="_blank">瓦拉淘使用说明</a>
        </div>
    </div>
    <a class="more" target="_blank" href="http://we.walatao.com/user/channel-price" style="display: block;">更多</a>
    
	<!-- <div style="display:block">
		<div class="wltao_remindtitle">有货提醒
			<!--提醒
			<span id="wltao_remindtitle_nostocktip" style="background-color:#18b4f0; padding:2px 3px 1px 3px; display:none;"><a href="javascript:void(0);" style="color:white; text-decoration:none;" id="wltao_stock_remind_link">添加提醒</a></span>
			<span style="display:none;color:green;" id="wltao_remindtitle_instocktip"></span>
			<!--提醒
			
			<span style="float:right;"><img style="margin-top:5px;" src="http://js.client.walatao.com/v9/godimage/more_notice_icon.png"/><a href="{{popupurl}}" style="color:#18b4f0;font-size:10px;" target="_blank">更多提醒>></a></span>
		</div>
		<div id="waltao_nostock_remind" class="wltao_remind_no_remind" style="display: none;">亲，还木有添加有货提醒哦</div>
<!-- 		<div id="walatao_stock_loading" style="position: relative; left: 300px; display: none;"><img src="http://js.client.walatao.com/v9/godimage/loading.gif">
		</div>
		
		<div style="display:none;" id="wltao_stock_remind_table">
			
		</div>
	</div>

	<div style="display:block">
		<div class="wltao_remindtitle wltao_price_remind_padding"><span>降价时提醒</span>		
			<!--提醒
			<span style="background-color:#18b4f0; padding:2px 3px 1px 10px;display:none;"><a href="javascript:void(0);" style="color:white; text-decoration:none;" id="wltao_detail_price_remind_link">添加提醒</a></span>
			<!--提醒
		</div>
		<div id="wltao_noprice_remind" class="wltao_remind_no_remind" style="display: none;">亲，还木有添加降价提醒哦</div>
<!-- 		<div id="wltao_price_loading" style="position: absolute; left: 300px; display: none;"><img src="http://js.client.walatao.com/v9/godimage/loading.gif">
		</div>
		<div style="display: none;" id="wltao_price_remind_table">

		</div>                     
	</div>
	
	<div id="walatao_remind_loading" style="position:absolute; margin:20px 120px; display: none;">
		<img src="http://js.client.walatao.com/v9/godimage/loading.gif">
	</div> -->
	
</div>

