<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<title>简历预览</title>

<link rel="stylesheet" type="text/css" href="/Public/Home/css/flat-ui.min.css" />
<link rel="stylesheet" type="text/css"  href="/Public/Home/css/common.css" />
<link rel="stylesheet" type="text/css"  href="/Public/Home/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/Public/Home/css/myresumepre.css"/>
<script type="text/javascript" src="/Public/Home/js/jquery.min.js" ></script>
<!-- <script type="text/javascript" src="/Public/Home/js/bootstrap.min.js" ></script> -->
<script type="text/javascript" src="/Public/Home/js/jquery.sticky.js"></script>
<include file="Public/var"/>
<!-- link rel="stylesheet" type="text/css" href="/Public/Home/css/testresume.css"> -->

</head>

<body>
<div class="myr_created myr_preview" >

    <div class="myr_w760">
     <div class="myr_header">
      <div id="resumeCompelete">

        <div class="rt-progress">
          <p class="complete">简历完整度：</p>
            <div class="progress" id="progress-allresume" style=" width: 170px; ">
              <div class="progress-bar" style=" width:<?php $allnum = 170*$alllist[1]/$alllist[0]; echo sprintf("%.2f", $allnum);?>px"></div>
              <span class="counter" style="left:70px"><?php echo "$alllist[1]/$alllist[0]";?></span>
            </div>

            <div class="progress lowUseCell" id="progress-emptyresume" style=" width: 65px; ">
              <div class="progress-bar" style="width: <?php $lownum= 65*$low_num[1]/$low_num[0]; echo sprintf("%.2f", $lownum);?>px"></div><span class="counter" style="left:12px;"><?php echo "$low_num[1]/$low_num[0]";?></span>
            </div>
            <div class="blank empty"></div>
        </div>

        <div class="fill-contrainer">
          <div class="myr_radio">
                <label class="radio">
              <input type="radio" name="fill" id="fill1" value="all" data-toggle="radio" class="custom-radio" checked=""><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
              所有
           </label>
           &nbsp;&nbsp;
           <label class="radio">
              <input type="radio" name="fill" id="fill2" value="filled" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
              已填
            </label>
            &nbsp;&nbsp;
             <label class="radio">
              <input type="radio" name="fill" id="fill3" value="empty" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
              未填
            </label>
            <input id="myysex" name="myysex" type="hidden" value="{$info.sex}">
              </div>
        </div>

        <div class="swich-container">
           <div class="switch-resume switch-yellow">
            <input type="radio" class="switch-input" name="resume-checked" value="high" id="high">
            <label for="high" class="switch-label switch-label-off">高频</label>
            <input type="radio" class="switch-input" name="resume-checked" value="all" id="all" checked="">
            <label for="all" class="switch-label switch-label-on">全部</label>
            <span class="switch-selection"></span>
          </div>
          </div>
      </div>
    </div>
  </div>

  <div class="myr_myresume_l mrcenter">
    <div class="myr_content">
      <div class="myr_w760">
        <div id="myInfo" class="myr_contrainer">
          <h2 class="myr_title">基本资料 <?php print_r(count(array_filter($resume_info[0])))?>/<?php print_r(count($resume_info[0]))?><a href="{:U('testresume')}" class="myr-font icon-edit"></i></a></h2>
         <!--  <?php var_dump($info)?> -->
          <div class="mr_baseinfo">
            <table class="myr_tb">
              <tr>
                <td colspan="2" class="col_2 <empty name="info['realname']">empty"<else /> filled"</empty>>姓名: {$info.realname}</td>
                <td colspan="2" class="col_2 <empty name="info['birthday']">empty"<else /> filled"</empty>>出生日期: {$info.birthday}</td>
                <td <empty name="info['sex']">class="empty"<else /> class="filled"</empty>>性别: {$info.sex}</td>
                <td <empty name="info['height']">class="empty"<else /> class="filled"</empty>>身高: {$info.height}</td>
                <td <empty name="info['weight']">class="empty"<else /> class="filled"</empty>>体重: {$info.weight}</td>
                <td <empty name="info['nativeplace']">class="empty"<else /> class="filled"</empty>>籍贯: {$info.nativeplace}</td>
                <td <empty name="info['nation']">class="empty"<else /> class="filled"</empty>>民族: {$info.nation}</td>
              </tr>
              <tr>
                <td colspan="2" class="col_2 <empty name="info['phone']">empty"<else /> filled"</empty>>手机号:{$info.phone}</td>
                <td colspan="2" class="col_2 <empty name="info['tel']">empty"<else /> filled"</empty>>固定电话:{$info.tel}</td>
                <td colspan="3" class="col_3 <empty name="info['email']">empty"<else /> filled"</empty>>邮件:{$info.email}</td>
                <td <empty name="info['nation']">class="empty"<else />class="filled"</empty>>婚姻状况:{$info.maritalstatus}</td>
              </tr>
              <tr class="lowUseRow">
                <td colspan="2" class="col_2 <empty name="info['national']">empty"<else /> filled"</empty>>国籍: {$info.national}</td>
                <td colspan="2" class="col_2 <empty name="info['wx_name']">empty"<else /> filled"</empty>>微信: {$info.wx_name}</td>
                <td colspan="2" class="col_2 <empty name="info['qq_name']">empty"<else /> filled"</empty>>QQ: {$info.qq_name}</td>
                <td colspan="3" class="col_2 <empty name="info['sina_name']">empty"<else /> filled"</empty>>微博: {$info.sina_name}</td>
              </tr>
              <tr class="lowUseRow">
                <td colspan="4" class="col_4 <empty name="info['idcardtype']">empty"<else /> filled"</empty>>证件类型及号码: {$info.idcardtype},{$info.idcard}</td>
                <td colspan="5" class="col_3 <empty name="info['profile']">empty"<else /> filled"</empty>>个人主页: {$info.profile}</td>
              </tr>
              <tr>
                <td colspan="2" class="col_2 <empty name="info['zip']"> empty"<else /> filled"</empty>>邮政编码: {$info.zip}</td>
                <td colspan="2" class="col_2 <empty name="info['politicalstatus']"> empty"<else /> filled"</empty>>政治面貌: {$info.politicalstatus}</td>
                <td colspan="5" class="col_2 <empty name="info['live_address']"> empty"<else /> filled"</empty>>联系地址: {$info.live_address}</td>
              </tr>
              <tr>
                <td colspan="2" class="col_2 <empty name="info['live_city']"> empty"<else /> filled"</empty>>现居住城市: {$info.live_city}</td>
                <td colspan="2" class="col_2 <empty name="info['hukou_city']"> empty"<else /> filled"</empty>>入学前户口: {$info.hukou_city}</td>
                <td colspan="2" class="col_2 <empty name="info['hukou_city_now']"> empty"<else /> filled"</empty>>当前户口: {$info.hukou_city_now}</td>
                <td colspan="3" class="col_2 <empty name="info['expect_city']"> empty"<else /> filled"</empty>>期望工作城市: {$info.expect_city}</td>
              </tr>
              <tr>
                <td colspan="2" class="col_2 <empty name="info['graduate_time']"> mpty"<else /> filled"</empty>>预计毕业时间: {$info.graduate_time}</td>
                <td colspan="2" class="col_2 <empty name="info['edu']"> empty"<else /> filled"</empty>>最高学历: {$info.edu}</td>
                <td colspan="5" class="col_5 <empty name="info['edu_type']"> empty"<else /> filled"</empty>>教育类型: {$info.edu_type}</td>
              </tr>
               <tr>
                <td colspan="2" class="col_2 <empty name="info['contact_name']">empty"<else /> filled"</empty>>紧急联系人: {$info.contact_name}</td>
                <td colspan="2" class="col_2 <empty name="info['contact_phone']">empty"<else /> filled"</empty>>紧急联系电话: {$info.contact_phone}</td>
                <td colspan="2" class="col_2 <empty name="info['fm_name']">empty"<else /> filled"</empty>>家庭成员-姓名: {$info.fm_name}</td>
                <td colspan="3" class="col_3 <empty name="info['fm_work']">empty"<else /> filled"</empty>>家庭成员-工作单位: {$info.fm_work}</td>
              </tr>
               <tr>
                <td colspan="4" class="col_2 <empty name="info['fm_phone']">empty"<else /> filled"</empty>>家庭成员-联系电话: {$info.fm_phone}</td>
                <td colspan="2" class="col_2 <empty name="info['fm_relation']">empty"<else /> filled"</empty>>家庭成员-关系: {$info.fm_relation}</td>
                <td colspan="3" class="col_3 <empty name="info['fm_position']">empty"<else /> filled"</empty>>家庭成员-职务: {$info.fm_position}</td>
         
              </tr>
            </table>

          </div>
        </div>

<!-- 教育经历 -->   
        <notempty name="edu_list">  
        <div id="educationalBackground"  class="myr_contrainer">
          <h2 class="myr_title">教育经历 <?php $edu_num= count($edu_list);for ($i=0; $i < $edu_num ; $i++) { $edu_arr[$i] = count(array_filter($edu_list[$i])); } $edu_num =$edu_num*3; $edu_arr = array_sum($edu_arr);print_r($edu_arr-$edu_num);?>/<?php $edu_tnum = count($edu_list, true); $edu_tarr = 9*count($edu_list); print_r($edu_tnum-$edu_tarr);?><a href="{:U('testresume#section-underline-2')}" class="myr-font icon-edit"></i></a></h2>
           <volist name="edu_list" id="v">
            <table class="myr_tb">
              <tr>
                <td colspan="4" class="col_4 <empty name="v['schoolName']">empty"<else />filled"</empty>>学校: {$v.schoolName}</td>
                <td colspan="3" class="col_3 <empty name="v['academy']">empty"<else />filled"</empty>>院系: {$v.academy}</td>
                <td colspan="2" class="col_2 <empty name="v['education']">empty"<else />filled"</empty>>学历: {$v.education}</td>
              </tr>
              <tr>
                <td colspan="4" class="col_4 <empty name="v['professional']">empty"<else />filled"</empty>>专业: {$v.professional}</td>
                <td colspan="5" class="lowUseCell col_5 <empty name="v['school_city']">empty"<else />filled"</empty>>学校所在城市: {$v.school_city}</td>
              </tr>
              <tr>
                <td colspan="2" class="col_2 <empty name="v['startYear']">empty"<else />filled"</empty>>入学时间: {$v.startYear}</td>
                <td colspan="2" class="col_2 <empty name="v['degree']">empty"<else />filled"</empty>>学位: {$v.degree}</td>
                <td colspan="2" class="col_2 <empty name="v['endYear']">empty"<else />filled"</empty>>毕业时间: {$v.endYear}</td>
                 <td colspan="3" class="col_3 <empty name="v['professional_ranking']">empty"<else />filled"</empty>>所在专业排名: {$v.professional_ranking}</td>
              </tr>
              <tr>  
               <td colspan="2" class="col_2 <empty name="v['class_ranking']">empty"<else />filled"</empty>>班级排名: {$v.class_ranking}</td>
                <td colspan="2" class="lowUseCell col_2 <empty name="v['tutor_name']">empty"<else />filled"</empty>>导师姓名: {$v.tutor_name}</td>
                <td colspan="2" class="lowUseCell col_2 <empty name="v['tutor_phone']">empty"<else />filled"</empty>>导师联系方式: {$v.tutor_phone}</td>
                <td colspan="3" class="lowUseCell col_3 <empty name="v['gpa_score']">empty"<else />filled"</empty>>GPA(4分制): {$v.gpa_score}</td>
              </tr>
            </table>
            <div class="des-contrainer <empty name="v['major']">empty"<else />des-filled"</empty>><h5 class="sub-title <empty name="v['major']">des-empty"<else />"</empty>>主修课程:</h5>{$v.major}</div>
             <div class="des-contrainer <empty name="v['professional_describe']">empty"<else />des-filled"</empty>><h5 class="sub-title <empty name="v['professional_describe']">des-empty"<else />"</empty>>专业描述:</h5>{$v.professional_describe}</div>
           </volist>
        </div>
        </notempty> 

<!-- 工作经历 -->  
        <notempty name="exp_list">      
        <div id="workExperience"  class="myr_contrainer">
          <h2 class="myr_title">工作经历 <?php $exp_num= count($exp_list);for ($i=0; $i < $exp_num ; $i++) { $exp_arr[$i] = count(array_filter($exp_list[$i])); } $exp_num =$exp_num*2; $exp_arr = array_sum($exp_arr);print_r($exp_arr-$exp_num);?>/<?php $exp_tnum = count($exp_list, true); $exp_tarr = 6*count($exp_list); print_r($exp_tnum-$exp_tarr);?><a href="{:U('testresume#section-underline-3')}" class="myr-font icon-edit"></i></a></h2>
           <volist name="exp_list" id="v">
            <table class="myr_tb">
              <tr>
                <td colspan="3" class="col_3 <empty name="v['companyName']">empty"<else />filled"</empty>>工作单位: {$v.companyName}</td>
                <td colspan="2" class="col_2 <empty name="v['positionName']">empty"<else />filled"</empty>>工作职位: {$v.positionName}</td>
                <td colspan="2" class="col_2 <empty name="v['work_cat']">empty"<else />filled"</empty>>工作性质: {$v.work_cat}</td>
                <td colspan="2" class="col_2 <empty name="v['work_city']">empty"<else />filled"</empty>>工作城市: {$v.work_city}</td>
              </tr>
              <tr>
                <td colspan="3" class="col_3 <empty name="v['department']">empty"<else />filled"</empty>>所在部门: {$v.department}</td>
                <td colspan="2" class="col_2 <empty name="v['company_property']">empty"<else />filled"</empty>>单位性质: {$v.company_property}</td>
                <td colspan="4" class="col_4 <empty name="v['company_size']">empty"<else />filled"</empty>>公司规模: {$v.company_size}</td>
              </tr>
              <tr>
                <td colspan="3" class="col_3 <empty name="v['company_cat']">empty"<else />filled"</empty>>行业类别: {$v.company_cat}</td>
                <td colspan="2" class="col_2 <empty name="v['startDate']">empty"<else />filled"</empty>>开始时间: {$v.startDate}</td>
                <td colspan="4" class="col_4 <empty name="v['endDate']">empty"<else />filled"</empty>>结束时间: {$v.endDate}</td>
              </tr>
              <tr class="lowUseRow">  
               <td colspan="3" class="col_3 <empty name="v['reasons']">empty"<else />filled"</empty>>离职原因: {$v.reasons}</td>
                <td colspan="5" class="col_5 <empty name="v['salary_month']">empty"<else />filled"</empty>>职位月薪(税前): {$v.salary_month}</td>
                
              </tr>
               <tr class="lowUseRow">  
               <td colspan="2" class="col_2 <empty name="v['reterence_name']">empty"<else />filled"</empty>>证明人姓名: {$v.reterence_name}</td>
                <td colspan="2" class="col_2 <empty name="v['reterence_company']">empty"<else />filled"</empty>>证明人关系: {$v.reterence_company}</td>
                 <td colspan="5" class="col_5 <empty name="v['reterence_company']">empty"<else />filled"</empty>>证明人单位: {$v.reterence_company}</td>
              </tr>
               <tr class="lowUseRow">  
               <td colspan="2" class="col_2 <empty name="v['reterence_position']">empty"<else />filled"</empty>>证明人职位: {$v.reterence_position}</td>
                <td colspan="5" class="col_5 <empty name="v['reterence_phone']">empty"<else />filled"</empty>>证明人联系方式: {$v.reterence_phone}</td>
                
              </tr>
            </table>
            <div class="des-contrainer <empty name="v['workContent']">empty"<else />des-filled"</empty>><h5 class="sub-title <empty name="v['workContent']">des-empty"<else />"</empty>>职责描述:</h5>{$v.workContent}</div>
           </volist>
        </div>
        </notempty> 
 <!-- 项目经验 -->   
      <notempty name="pro_list">   
        <div id="projectExperience"  class="myr_contrainer">
          <h2 class="myr_title">项目经历 <?php $pro_num= count($pro_list);for ($i=0; $i < $pro_num ; $i++) { $pro_arr[$i] = count(array_filter($pro_list[$i])); } $pro_num =$pro_num*2; $pro_arr = array_sum($pro_arr);print_r($pro_arr-$pro_num);?>/<?php $pro_tnum = count($pro_list, true); $pro_tarr = 6*count($pro_list); print_r($pro_tnum-$pro_tarr);?> <a href="{:U('testresume#section-underline-4')}" class="myr-font icon-edit"></i></a></h2>
           <volist name="pro_list" id="v">
            <table class="myr_tb">
              <tr>
                <td colspan="4" class="col_4 <empty name="v['projectName']">empty"<else />filled"</empty>>项目名称: {$v.projectName}</td>
                <td colspan="2" class="col_2 <empty name="v['positionName']">empty"<else />filled"</empty>>项目职位: {$v.positionName}</td>
                <td colspan="3" class="lowUseCell col_3 <empty name="v['projectNumber']">empty"<else />filled"</empty>>项目人数: {$v.projectNumber}</td>
              </tr>
              <tr>
                <td colspan="2" class="col_2 <empty name="v['startDate']">empty"<else />filled"</empty>>开始时间: {$v.startDate}</td>
                <td colspan="2" class="col_2 <empty name="v['endDate']">empty"<else />filled"</empty>>结束时间: {$v.endDate}</td>
                <td colspan="2" class="lowUseCell col_2 <empty name="v['reterenceName']">empty"<else />filled"</empty>>证明人姓名: {$v.reterenceName}</td>
                <td colspan="3" class="lowUseCell col_3 <empty name="v['reterencePhone']">empty"<else />filled"</empty>>证明人联系方式: {$v.reterencePhone}</td>
              </tr>
            </table>
            <div class="des-contrainer <empty name="v['projectDuty']">empty"<else />des-filled"</empty>><h5 class="sub-title <empty name="v['projectDuty']">des-empty"<else />"</empty>>项目职责:</h5>{$v.projectDuty}</div>
            <div class="des-contrainer <empty name="v['projectRemark']">empty"<else />des-filled"</empty>><h5 class="sub-title <empty name="v['projectRemark']">des-empty"<else />"</empty>>项目描述:</h5>{$v.projectRemark}</div>
           </volist>
        </div>
        </notempty> 
  <!-- 培训经历 --> 
      <notempty name="training_list">        
        <div id="trainingExperience"  class="myr_contrainer">
          <h2 class="myr_title">培训经历 <?php $trainingexperience_num= count($training_list);for ($i=0; $i < $trainingexperience_num ; $i++) { $trainingexperience_arr[$i] = count(array_filter($training_list[$i])); } $trainingexperience_num =$trainingexperience_num*1; $trainingexperience_arr = array_sum($trainingexperience_arr);print_r($trainingexperience_arr-$trainingexperience_num);?>/<?php $trainingexperience_tnum = count($training_list, true); $trainingexperience_tarr = 2*count($training_list); print_r($trainingexperience_tnum-$trainingexperience_tarr);?><a href="{:U('testresume#section-underline-5')}" class="myr-font icon-edit"></i></a></h2>
           <volist name="training_list" id="v">
            <table class="myr_tb">
              <tr>
                <td colspan="4" class="col_4 <empty name="v['trainingName']">empty"<else />filled"</empty>>培训名称: {$v.trainingName}</td>
                <td colspan="5" class="col_5 <empty name="v['trainingCompany']">empty"<else />filled"</empty>>培训机构: {$v.trainingCompany}</td>
              </tr>
              <tr>
                <td colspan="2" class="col_2 <empty name="v['startDate']">empty"<else />filled"</empty>>开始时间: {$v.startDate}</td>
                <td colspan="2" class="col_2 <empty name="v['endDate']">empty"<else />filled"</empty>>结束时间: {$v.endDate}</td>
                <td colspan="2" class="lowUseCell col_2 <empty name="v['trainingPlace']">empty"<else />filled"</empty>>培训地点: {$v.trainingPlace}</td>
                <td colspan="3" class="col_3 <empty name="v['certificateName']">empty"<else />filled"</empty>>获得证书: {$v.certificateName}</td>
              </tr>
            </table>
            <div class="des-contrainer <empty name="v['trainingDes']">empty"<else />des-filled"</empty>><h5 class="sub-title <empty name="v['trainingDes']">des-empty"<else />"</empty>>培训内容:</h5>{$v.trainingDes}</div>
           </volist>
        </div>
        </notempty> 
  <!-- 在校实践 -->   
        <notempty name="practice_list">     
        <div id="trainingExperience"  class="myr_contrainer">
          <h2 class="myr_title">在校实践 <?php $practice_num= count($practice_list);for ($i=0; $i < $practice_num ; $i++) { $practice_arr[$i] = count(array_filter($practice_list[$i])); } $practice_num =$practice_num*2; $practice_arr = array_sum($practice_arr);print_r($practice_arr-$practice_num);?>/<?php $practice_tnum = count($practice_list, true); $practice_tarr = 6*count($practice_list); print_r($practice_tnum-$practice_tarr);?><a href="{:U('testresume#section-underline-6')}" class="myr-font icon-edit"></i></a></h2>
           <volist name="practice_list" id="v">
            <table class="myr_tb">
              <tr>
                <td colspan="4" class="col_4 <empty name="v['praCompanyName']">empty"<else />filled"</empty>>实践单位: {$v.praCompanyName}</td>
                <td colspan="5" class="col_5 <empty name="v['practicePosition']">empty"<else />filled"</empty>>实践职位: {$v.practicePosition}</td>
              </tr>
              <tr>
                <td colspan="2" class="col_2 <empty name="v['startDate']">empty"<else />filled"</empty>>开始时间: {$v.startDate}</td>
                <td colspan="2" class="col_2 <empty name="v['endDate']">empty"<else />filled"</empty>>结束时间: {$v.endDate}</td>
                <td colspan="5" ></td>
              </tr>
            </table>
            <div class="des-contrainer <empty name="v['practiceDuty']">empty"<else />des-filled"</empty>><h5 class="sub-title <empty name="v['practiceDuty']">des-empty"<else />"</empty>>实践职责:</h5>{$v.practiceDuty}</div>
            <div class="des-contrainer <empty name="v['practiceDes']">empty"<else />des-filled"</empty>><h5 class="sub-title <empty name="v['practiceDes']">des-empty"<else />"</empty>>实践经历描述:</h5>{$v.practiceDes}</div>
           </volist>
        </div>
        </notempty>                     
<!-- 社团经验 -->    
        <notempty name="schoolclub_list">   
        <div id="schoolClubExperience"  class="myr_contrainer">
          <h2 class="myr_title">社团经验 <?php $schoolclub_num= count($schoolclub_list);for ($i=0; $i < $schoolclub_num ; $i++) { $schoolclub_arr[$i] = count(array_filter($schoolclub_list[$i])); } $schoolclub_num =$schoolclub_num*1; $schoolclub_arr = array_sum($schoolclub_arr);print_r($schoolclub_arr-$schoolclub_num);?>/<?php $schoolclub_tnum = count($schoolclub_list, true); $schoolclub_tarr = 2*count($schoolclub_list); print_r($schoolclub_tnum-$schoolclub_tarr);?><a href="{:U('testresume#section-underline-7')}" class="myr-font icon-edit"></i></a></h2>  
           <volist name="schoolclub_list" id="v">
            <table class="myr_tb">
              <tr>
                <td colspan="5" class="col_5 <empty name="v['schClubName']">empty"<else />filled"</empty>>社团名称: {$v.schClubName}</td>
                <td colspan="4" ></td>
              </tr>
              <tr>
              <td colspan="2" class="col_2 <empty name="v['schClubLevel']">empty"<else />filled"</empty>>社团等级: {$v.schClubLevel}</td>
                <td colspan="2" class="col_2 <empty name="v['endDate']">empty"<else />filled"</empty>>担任职务: {$v.endDate}</td>
                <td colspan="2" class="col_2 <empty name="v['startDate']">empty"<else />filled"</empty>>开始时间: {$v.startDate}</td>
                <td colspan="3" class="col_2 <empty name="v['endDate']">empty"<else />filled"</empty>>结束时间: {$v.endDate}</td>
              </tr>
            </table>
            <div class="des-contrainer <empty name="v['workDes']">empty"<else />des-filled"</empty>><h5 class="sub-title <empty name="v['workDes']">des-empty"<else />"</empty>>工作职责:</h5>{$v.workDes}</div>
           </volist>
        </div>
        </notempty>
  <!-- 获奖经验 -->     
      <notempty name="schoolawards_list">
        <div id="schoolAwardsExperience"  class="myr_contrainer">
          <h2 class="myr_title">获奖经验 <?php $schoolawards_num= count($schoolawards_list);for ($i=0; $i < $schoolawards_num ; $i++) { $schoolawards_arr[$i] = count(array_filter($schoolawards_list[$i])); } $schoolawards_num =$schoolawards_num*1; $schoolawards_arr = array_sum($schoolawards_arr);print_r($schoolawards_arr-$schoolawards_num);?>/<?php $schoolawards_tnum = count($schoolawards_list, true); $schoolawards_tarr = 2*count($schoolawards_list); print_r($schoolawards_tnum-$schoolawards_tarr);?><a href="{:U('testresume#section-underline-8')}" class="myr-font icon-edit"></i></a></h2>
           <volist name="schoolawards_list" id="v">
            <table class="myr_tb">
              <tr>
                <td colspan="4" class="col_4 <empty name="v['awardsName']">empty"<else />filled"</empty>>获奖名称: {$v.awardsName}</td>
                 <td colspan="5" class="col_5 <empty name="v['awardsType']">empty"<else />filled"</empty>>获奖类型: {$v.awardsType}</td>
              </tr>
              <tr>
               <td colspan="4" class="col_4 <empty name="v['awardsDate']">empty"<else />filled"</empty>>获奖时间: {$v.awardsDate}</td>
                 <td colspan="5" class="col_5 <empty name="v['awardsLevel']">empty"<else />filled"</empty>>获奖等级: {$v.awardsLevel}</td>
              </tr>
            </table>
            <div class="des-contrainer <empty name="v['awardsDes']">empty"<else />des-filled"</empty>><h5 class="sub-title <empty name="v['awardsDes']">des-empty"<else />"</empty>>获奖描述:</h5>{$v.awardsDes}</div>
           </volist>
        </div>     
        </notempty>                      
   <!-- 语言能力 -->        
        <div id="langSkillExperience"  class="myr_contrainer">
          <h2 class="myr_title">语言能力<a href="{:U('testresume#section-underline-')}" class="myr-font icon-edit"></i></a></h2>
           <volist name="schoolawards_list" id="v">
            <table class="myr_tb">
              <tr>
                <td colspan="4" class="col_4 <empty name="v['awardsName']">empty"<else />filled"</empty>>大学英语等级: {$v.awardsName}</td>
                 <td colspan="5" class="col_5 <empty name="v['awardsType']">empty"<else />filled"</empty>>成绩: {$v.awardsType}</td>
              </tr>
              <tr>
               <td colspan="4" class="col_4 <empty name="v['awardsDate']">empty"<else />filled"</empty>>其他英语考试: {$v.awardsDate}</td>
                 <td colspan="5" class="col_5 <empty name="v['awardsLevel']">empty"<else />filled"</empty>>成绩: {$v.awardsLevel}</td>
              </tr>
               <tr>
               <td colspan="3" class="col_3 <empty name="v['awardsDate']">empty"<else />filled"</empty>>其他外语: {$v.awardsDate}</td>
               <td colspan="2" class="col_2 <empty name="v['awardsLevel']">empty"<else />filled"</empty>>掌握程度: {$v.awardsLevel}</td>
               <td colspan="2" class="col_2 <empty name="v['awardsLevel']">empty"<else />filled"</empty>>听说能力: {$v.awardsLevel}</td>
               <td colspan="2" class="col_2 <empty name="v['awardsLevel']">empty"<else />filled"</empty>>读写能力: {$v.awardsLevel}</td>
              </tr>
            </table>
           </volist>
        </div>     
  <!-- 已获证书 -->  
        <notempty name="certificate_list">       
        <div id="certificateExperience"  class="myr_contrainer">
          <h2 class="myr_title">已获证书 <?php print_r(count(array_filter($otherinfo_list[0]))-1)?>/<?php print_r(count($otherinfo_list[0])-1)?><a href="{:U('testresume#section-underline-10')}" class="myr-font icon-edit"></i></a></h2>    
           <volist name="certificate_list" id="v">
            <table class="myr_tb">
              <tr>
                <td colspan="4" class="col_4 <empty name="v['certificateName']">empty"<else />filled"</empty>>证书名称: {$v.certificateName}</td>
                 <td colspan="2" class="col_2 <empty name="v['getDate']">empty"<else />filled"</empty>>获得时间: {$v.getDate}</td>
                 <td colspan="3" class="col_3 <empty name="v['issuing']">empty"<else />filled"</empty>>颁发机构: {$v.issuing}</td>
              </tr>
            </table>
            <div class="des-contrainer <empty name="v['certificateDes']">empty"<else />des-filled"</empty>><h5 class="sub-title <empty name="v['certificateDes']">des-empty"<else />"</empty>>证书描述:</h5>{$v.certificateDes}</div>
           </volist>
        </div>   
        </notempty>            
  <!-- 其他信息 -->   
        <notempty name="otherinfo_list">
         <div id="otherInfoExperience"  class="myr_contrainer">
          <h2 class="myr_title <empty name="v['certificateDes']">des-empty"<else />"</empty>>其他信息<a href="{:U('testresume#section-underline-11')}" class="myr-font icon-edit"></i></a></h2>
           <volist name="otherinfo_list" id="v" offset="0" length='1'>
              <div class="des-contrainer <empty name="v['selfIntro']">empty"<else />des-filled"</empty>><h5 class="sub-title <empty name="v['selfIntro']">des-empty"<else />"</empty>>自我评价:</h5>{$v.selfIntro}</div>
              <div class="des-contrainer <empty name="v['hobbies']">empty"<else />des-filled"</empty>><h5 class="sub-title <empty name="v['hobbies']">des-empty"<else />"</empty>>爱好特长:</h5>{$v.hobbies}</div>
              <div class="des-contrainer <empty name="v['skill']">empty"<else />des-filled"</empty>><h5 class="sub-title <empty name="v['skill']">des-empty"<else />"</empty>>其他技能:</h5>{$v.skill}</div>
              <div class="des-contrainer <empty name="v['achievement']">empty"<else />des-filled"</empty>><h5 class="sub-title <empty name="v['achievement']">des-empty"<else />"</empty>>个人成就:</h5>{$v.achievement}</div>
              <div class="des-contrainer <empty name="v['profile']">empty"<else />des-filled"</empty>><h5 class="sub-title <empty name="v['profile']">des-empty"<else />"</empty>>个人简介:</h5>{$v.profile}</div>
           </volist>
        </div> 
        </notempty>  
    </div>
  </div>
  </div>
</div>
</body>
<script type="text/javascript">
function checkChange() {
    var changestatu = 0;
    var rechecked = $("input[name='resume-checked']:checked").val();
      if(rechecked == "all"){
        // $(".lowUseRow").animate({ opacity:1},600,function(){$(this).css({display:"table-row"})});
        // $(".lowUseCell").animate({ opacity:1},600,function(){$(this).css({display:"table-cell"})});
        $(".lowUseRow").fadeIn();
        $(".lowUseCell").fadeIn();
        changestatu = 1;
      }else{
       //  $(".lowUseRow").animate({ opacity:0},600,function(){$(this).css({display:"none"})});
       // $(".lowUseCell").animate({ opacity:0},600,function(){$(this).css({display:"none"})}); 
        $(".lowUseRow").fadeOut();
        $(".lowUseCell").fadeOut();
        changestatu = 2;
      }
      return changestatu;
}
function fillChange() {
      var changestatu =checkChange();
      //alert(changestatu);

      var fill = $("input[name=fill]:checked").val();
      if (changestatu=="1") {
          if(fill == "all"){
            $(".filled").animate({ opacity:1},600,function(){$(this).css({visibility:"visible"})});
            $(".des-filled").animate({ opacity:1},600,function(){$(this).css({visibility:"visible"})});
            $(".empty").animate({ opacity:1},600,function(){$(this).css({visibility:"visible"})});
       
            // $(".filled").css("display","table-cell");
            // $(".des-filled").css("display","block");
            //$(".empty").animate({ opacity:1},600,function(){$(this).css({disvisibilityplay:"visible"})});
          
            clearHideFill();
          }else if(fill == "filled"){
            // $(".filled").css("display","table-cell");
            // $(".des-filled").css("display","block");
            //  $(".empty").animate({ opacity:0},600,function(){$(this).css({disvisibilityplay:"hidden"})});
            // clearHideFill();
            clearHideFill();
            $(".filled").animate({ opacity:1},600,function(){$(this).css({visibility:"visible"})});
            $(".des-filled").animate({ opacity:1},600,function(){$(this).css({visibility:"visible"})});
            $(".empty").animate({ opacity:0},600,function(){$(this).css({visibility:"hidden"})});
            hideEmpty();
          }else if (fill == "empty"){
            clearHideFill();
            $(".filled").animate({ opacity:0},600,function(){$(this).css({visibility:"hidden"})});
            $(".des-filled").animate({ opacity:0},600,function(){$(this).css({visibility:"hidden"})});
            $(".empty").animate({ opacity:1},600,function(){$(this).css({visibility:"visible"})});
            hideFill();
          }
      }else if (changestatu=="2") {
          if(fill == "all"){
            
            $(".filled").animate({ opacity:1},600,function(){$(this).css({visibility:"visible"})});
            $(".des-filled").animate({ opacity:1},600,function(){$(this).css({visibility:"visible"})});
            $(".empty").animate({ opacity:1},600,function(){$(this).css({visibility:"visible"})});
            clearHideFill();
          }else if(fill == "filled"){
            clearHideFill();
            $(".filled").animate({ opacity:1},600,function(){$(this).css({visibility:"visible"})});
            $(".des-filled").animate({ opacity:1},600,function(){$(this).css({visibility:"visible"})});
            $(".empty").animate({ opacity:0},600,function(){$(this).css({visibility:"hidden"})});
            hideEmpty();
          }else if (fill == "empty" && changestatu == "2"){
            //alert("emptychangestatu2")
            clearHideFill();
            $(".filled").animate({ opacity:0},600,function(){$(this).css({visibility:"hidden"})});
            $(".des-filled").animate({ opacity:0},600,function(){$(this).css({visibility:"hidden"})});
            $(".empty").animate({ opacity:1},600,function(){$(this).css({visibility:"visible"})});
            hideFill();
            
          }
          $(".lowUseRow").css("display","none");
          $(".lowUseCell").css("display","none");
      }
      
      
}
function hideFill(){
   var changestatu =checkChange();
   $('.myr_tb tr').each(function () {    
        var len ="";
        var counter = 0;
        var classname ="";
        len = $(this).children('td').length;
         $(this).children('td').each(function () {    
            var classname = $(this).attr('class') || '';
              if (classname.indexOf("filled")>=0) {
                counter++;
              } 
         });
         if (len === counter) {
           $(this).fadeOut();
         }else{
          //$(this).css("display","table-row");
         }
      });
    $('.des-contrainer').each(function () { 
        var desclassname = $(this).attr('class') || '';
          if (desclassname.indexOf("filled")>=0) {
            $(this).fadeOut();
          } 
     });
}
function hideEmpty(){
 
   var changestatu =checkChange();
   $('.myr_tb tr').each(function () {    
        var len ="";
        var counter = 0;
        var classname ="";
        len = $(this).children('td').length;
         $(this).children('td').each(function () {    
            var classname = $(this).attr('class') || '';
              if (classname.indexOf("empty")>=0) {
                counter++;
              } 
         });
         if (len === counter) {
           $(this).fadeOut();
         }else{
          //$(this).css("display","table-row");
         }
      });

    $('.des-contrainer').each(function () { 
        var desclassname = $(this).attr('class') || '';
          if (desclassname.indexOf("empty")>=0) {
            $(this).fadeOut();
          } 
     });
}
function clearHideFill(){
  $('.myr_tb tr').each(function () { 
    $(this).css("display","table-row");
  });
  $('.des-contrainer').each(function () { 
    $(this).fadeIn();
  });
}

$(document).ready(function() {
    $("input[name=resume-checked]").click(function(){
      checkChange();
      fillChange();
     });

    $("input[name=fill]").click(function(){
      
      fillChange();
    });

     $("#resumeCompelete").sticky({topSpacing:0});
  });

</script>

</html>

