<volist name="tree" id="list">
	<dl class="cate-item">
		<dt class="cf" <php>if($list['leixing']) echo 'style="background-color: #efefef;"';</php> >
			<form action="{:U('edit')}" method="post">
				<div class="btn-toolbar opt-btn cf">
					<a title="编辑" href="{:U('edit?id='.$list['id'].'&pid='.$list['pid'])}">编辑</a>
					<a title="{$list.status|show_status_op}" href="{:U('setStatus?ids='.$list['id'].'&status='.abs(1-$list['status']))}" class="ajax-get">{$list.status|show_status_op}</a>
					<a title="删除" href="{:U('remove?id='.$list['id'])}" class="confirm ajax-get">删除</a>
					<!-- <a title="移动" href="{:U('operate?type=move&from='.$list['id'])}">移动</a>
					<a title="合并" href="{:U('operate?type=merge&from='.$list['id'])}">合并</a> -->
				</div>
				<div class="fold"><i></i></div>
				<div class="order"><input type="text" name="sort" class="text input-mini" value="{$list.sort}"></div>
				
				<div class="name" style="width:400px">
					<span class="tab-sign"></span>
					<input type="hidden" name="id" value="{$list.id}">
					<input type="text" name="title" class="text" value="{$list.title}">
					<a class="add-sub-cate" title="添加子分类" href="{:U('add?pid='.$list['id'])}">
						<i class="icon-add"></i>
					</a>
					<span class="help-inline msg"></span>
				</div>
				
				<div class="order" style="text-align:left;width:200px"><!-- {$list['allow_publish']?'是':'否'} -->{$list.name}</div>
				<div class="order" style="text-align:center;width:120px;"> {$list['leixing']?'职位类型':'行业领域'} </div>
				<div class="order" style="text-align:center;width:100px;"> {$list['video_show']?'是':'否'} </div>
			</form>
		</dt>
		<notempty name="list['_']">
			<dd>
				{:R('Category/tree', array($list['_']))}
			</dd>
		</notempty>
	</dl>
</volist>