<include file="Public/header" />

<script type="text/javascript" src="/Public/Home/js/company/spsd.js"></script>
<link rel="stylesheet" type="text/css"  href="/Public/Home/css/xuanjiang.css" />
<link rel="stylesheet" type="text/css"  href="/Public/Home/css/list.css" />




<!-- 视频开始 -->
<div class="xjfsbg">
   <div class="w960">
       <div style="height:440px; overflow:hidden;">
         <iframe frameborder="0" width="960" height="496" src="http://v.qq.com/iframe/player.html?vid=i0157lgdjzy&tiny=0&auto=0" allowfullscreen></iframe>
       </div>
    </div>
</div>
 <!-- 视频结束 --> 
 
 
 


<div class="w960 bgf9">

<div class="xjsinfo">
  <h2>宣讲会简介</h2>
  <div class="clr"></div>
 
  
  <div class="lfinfo">
      <img src="/Public/Home/images/comjpg.jpg" />
      <div class="mininfo">
        <span>
           <div class="lf">腾讯</div>
           <i></i> <!-- 如果企业通过认证，给<i>标签添加：class="cur" -->
         </span>
        <em>深圳腾讯科有限公司技</em>
        <div id="cominfo" class="comytxt">
        在面对用户的搜索产品不断丰富的同时，百度还创新性地推出了基于搜索的营销推广服务，并成为最受企业青睐
        的互联网营销推广平台。如今，中国已有数十万家企业使用了百度的搜索推广服务，不断提升企业自
        身的品牌及运营效率。通过持续的商业模式创新，百度正进一步带动整个互联网行业和中小企业的经济增长，推动社会经济的发展和转型。
          <div id="mymr" class="myzkmr">.......</div>
        </div>
        <div id="zhankai" class="zhankai"></div>
      </div>
      <div class="clr"></div>
  </div>
 
 
 
  <div class="rtinfo">
    <font>没有时间看视频？</font>
    <a href="#">文字版宣讲会</a>
  </div>
  
  
  
  <div class="clr"></div>
</div>


<!-- 相关推荐开始 -->
<div class="ztmbox">
   <div class="xtjtil">相关推荐</div>
		<div class="picScroll-left">
			<div class="bd">
            <a class="next"></a>
            <a class="prev"></a>
				<ul class="picList">
                
                   <li>
                      <em>腾讯</em><i></i>
                      <div class="dianji">208</div>
                      <div class="shijian">32:00</div>
                         <a class="max" href="#"><img src="/Public/Home/images/qbs.jpg" /></a>
                      <div class="xjinfo">
                         <a class="xjtil lf" href="#">腾讯2015宣讲会</a>
                         <div class="xjdata rt">06/23</div>
                      </div>
                   </li>
                   
                   
                   <li>
                      <em>腾讯</em><i></i>
                      <div class="dianji">208</div>
                      <div class="shijian">32:00</div>
                         <a class="max" href="#"><img src="/Public/Home/images/qbs.jpg" /></a>
                      <div class="xjinfo">
                         <a class="xjtil lf" href="#">腾讯2015宣讲会</a>
                         <div class="xjdata rt">06/23</div>
                      </div>
                   </li>
                   
                   
                   <li>
                      <em>腾讯</em><i></i>
                      <div class="dianji">208</div>
                      <div class="shijian">32:00</div>
                         <a class="max" href="#"><img src="/Public/Home/images/qbs.jpg" /></a>
                      <div class="xjinfo">
                         <a class="xjtil lf" href="#">腾讯2015宣讲会</a>
                         <div class="xjdata rt">06/23</div>
                      </div>
                   </li>
                   
                   <li>
                      <em>腾讯</em><i></i>
                      <div class="dianji">208</div>
                      <div class="shijian">32:00</div>
                         <a class="max" href="#"><img src="/Public/Home/images/qbs.jpg" /></a>
                      <div class="xjinfo">
                         <a class="xjtil lf" href="#">腾讯2015宣讲会</a>
                         <div class="xjdata rt">06/23</div>
                      </div>
                   </li>
                   
                   <li>
                      <em>腾讯</em><i></i>
                      <div class="dianji">208</div>
                      <div class="shijian">32:00</div>
                         <a class="max" href="#"><img src="/Public/Home/images/qbs.jpg" /></a>
                      <div class="xjinfo">
                         <a class="xjtil lf" href="#">腾讯2015宣讲会</a>
                         <div class="xjdata rt">06/23</div>
                      </div>
                   </li>
                   
                   <li>
                      <em>腾讯</em><i></i>
                      <div class="dianji">208</div>
                      <div class="shijian">32:00</div>
                         <a class="max" href="#"><img src="/Public/Home/images/qbs.jpg" /></a>
                      <div class="xjinfo">
                         <a class="xjtil lf" href="#">腾讯2015宣讲会</a>
                         <div class="xjdata rt">06/23</div>
                      </div>
                   </li>
                   
				</ul>
			</div>
		</div>
</div>
<script type="text/javascript">
		jQuery(".picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",vis:4});
</script>
<!-- 相关推荐结束 -->
 

<!-- 评论开始 --> 
<div class="xjmsg">
   <h2>发表评论</h2>
    <form class="registerform" action="#" method="get" >
      <textarea placeholder="发表你的真知灼见，说不定被HR看上噢~" datatype="*2-200" nullmsg="请填写评论内容" errormsg="2-200字噢~"/></textarea>
      <div class="tolmsg rt"><input type="submit" class="mybtn1 f16" value="确认发表" /></div>
   </form>
    <div class="clr"></div>
</div>
 
   <div class="listmsg">
     <ul>
     
       <li>
         <div class="msgtop"><span>王小强</span><em>2015-06-24</em></div>
         <div>早点看到这个我的面试实验就不会挂了！</div>
       </li>
       
       <li>
         <div class="msgtop"><span>王小强</span><em>2015-06-24</em></div>
         <div>早点看到这个我的面试实验就不会挂了！</div>
       </li>
       
       
       <li>
         <div class="msgtop"><span>王小强</span><em>2015-06-24</em></div>
         <div>早点看到这个我的面试实验就不会挂了！</div>
       </li>
       
       
       <li>
         <div class="msgtop"><span>王小强</span><em>2015-06-24</em></div>
         <div>早点看到这个我的面试实验就不会挂了！</div>
       </li>
       
       
       <li>
         <div class="msgtop"><span>王小强</span><em>2015-06-24</em></div>
         <div>早点看到这个我的面试实验就不会挂了！</div>
       </li>
       
       
       <li>
         <div class="msgtop"><span>王小强</span><em>2015-06-24</em></div>
         <div>早点看到这个我的面试实验就不会挂了！</div>
       </li>
       
     </ul>
   </div>
   
     <div class="h20"></div>   
       <!-- 翻页-->
       <div class="mypage">
          <a href="#">上一页</a>
          <a href="#">1</a>
          <a class="cur" href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">下一页</a>
       </div>
  <div class="h20"></div>  
  
 </div>




<script>
$(function(){
    $("#zhankai").click(function(){
        $("#cominfo").toggleClass("highlight");
		$("#mymr").toggleClass("dn");
	    $(this).toggleClass("zkcur");
    });
});
</script> 
<script>
   $(document).ready(function(){
   $(".max").hover(function() {
	$(this).css({'z-index' : '10'});
	$(this).find('img').addClass("hover").stop()
	.animate({marginTop: '-10px', marginLeft: '-10px', width: '220px', height: '120px',}, 300);
	} , function() {
	$(this).css({'z-index' : '0'});
	$(this).find('img').removeClass("hover").stop()
	.animate({marginTop: '0', marginLeft: '0',width: '200px', height: '100px', }, 300);
	});
  });
</script>

<script type="text/javascript" src="/Public/Home/js/Validform_v5.3.2_min.js"></script>   
<script type="text/javascript">
$(function(){	
	$(".registerform:eq(0)").Validform({
		tiptype:3,
		showAllError:true,

	});
});
</script>


 
<include file="Public/footer" />