<include file="Public/header" />
<style type="text/css">

</style>
  <div class="w1000 mt40">
     <div class="about">
       
       <h2>关于我们</h2>
       
        <div class="cnt">
         <!-- {$info.content} -->
	        <p >寻鹿求职团队主要来自于腾讯。年轻、热情、富有正义感且统统被“网申投简历”折磨过（这最重要！）的我们致力于打造一款高效、靠谱、兼容性爆棚的求职助手。寻鹿求职助手率先推出核心功能“一键闪填”各大名企网申，以用户体验为最优先，为各大名企网站进行匹配、优化，支持70%以上简历信息的自动填写。 </p>
			<p style="margin: 50px 0 20px 0;">如果你也对此感兴趣，欢迎加入我们：</p>
			<ul class="position-list">
				<li><a>PHP开发工程师</a></li> 
				<li><a>新媒体运营</a></li> 
				<li><a>视觉设计实习生</a></li> 
				<li><a>校园运营负责人</a> </li>
			</ul>
       </div>
     </div>
  </div>

<include file="Public/footer" />