<include file="Public/header" />

<link rel="stylesheet" type="text/css"  href="/Public/Home/css/fuwu.css" />

	<div class="fuwubox"> 
    <div class="login_logo"> <a href="/"><img src="/Public/Home/images/uslogo.png" /></a></div> 
	   <div class="fwbox">
         <div class="toptl">开通招聘服务</div> 
         <div class="os_step_2"></div>
         
           <div class="stform">
       
              <div class="step3">
                <h2 class="f16">根据你填写的公司邮箱（<a href="step1.html">返回修改邮箱地址</a>），请选择你要招聘的公司名称：</h2>
                 <div>
                   <u class="lf" href="#">深圳找份工作科技有限公司</u>
                   <a class="rt" href="#">使用这个公司名称和信息</a>
                  </div>
                  <div class="clr"></div>
              </div>
              
              <div style="width:540px;" class="txtrt"><a href="step2.html">+创建公司</a></div>
              
             <div class="myask">
             <br /><br />

              如有问题，请发送到lee@eztojob.com,我们会尽快为您解决。
             </div>
          </div>
          
	   </div> 
  </div> 



<include file="Public/footer" />