
<link rel="stylesheet" type="text/css"  href="/Public/Home/css/reg.css" />
<style type="text/css">
body{font-size:14px; background:#FADC62; font-family:"Microsoft YaHei";}
  .login_box h2.findpw{
    font-size: 24px;
    font-weight: 400;
    color: #555;
    text-align: center;
    margin: 0 0 15px;
    padding-bottom: 15px;
    font-weight: 500;
  }
  a{
    text-decoration: none;
  }
</style>
<div class="login_wrapper">

  <div class="login_box">
    <h2 class="findpw">找回密码</h2>
    <a class="btn-email" href="findPassword.html"><i class="icon-user email-icon"></i>通过邮箱找回</a>
    <a class="btn-phone" href="#"><i class="icon-user design_phone"></i>通过手机找回</a>
    <div style="float:left; padding-top:30px">
      <a href="login.html"><返回登录</a> 
    </div>
    
  </div>


</div>
