<div id="wltao_autu_tracker" class="wltao_font wltao_triangle wltao_tips" style="z-index:2147483647;position:absolute;left:{{left}}px;top:{{top}}px">
	<div class="wltao_foreign_ship_info">
			<span class="wltao_foreign_ship_name">境外物流：</span>
			<span class="wltao_foreign_ship_name">${{foreignShip}}</span>
			<span class="wltao_foreign_shipid">运单号:</span>
			<span class="wltao_foreign_shipid"></span>
	</div>
	<div class="wltao_add_to_tracker">
			<span class="wltao_trans_ship_name">转运公司:</span>
			<span class="wltao_trans_ship_name">${{foreignShip}}</span>
			<span class="wltao_add_tracker_btn">运单号:</span>
			<span class="wltao_add_tracker_btn"></span>
	</div>	
</div>