<div id="wltao-downbar" class="wltao-downbar">
	<div id="wltao-downbar-show">
		<ul id="wltao-downbar-widget-1" len="201">
			<li  title="关于44折海淘助手介绍" len="165" id="wltao-downbar-home" class="normal">
				<span class="wltao-downbar-btn" len="135">
					<img src="http://js.client.34tao.com/assets/ico/home.png"  style="vertical-align: bottom; border: 0px solid rgb(255, 255, 255);">
				</span>
			</li>
		</ul>
		<span class="wltao-downbar-separator-left" len="0"></span>
		<ul id="wltao-downbar-widget-2" len="206">
			<li  title="点击后将对当前网站进行全文翻译" len="165" id="wltao-downbar-allfanyi" class="normal">
				<span class="wltao-downbar-btn" len="135">
					<img src="http://js.client.34tao.com/assets/ico/qwfy.png"  style="vertical-align: bottom; border: 0px solid rgb(255, 255, 255);">
				</span>
			</li>
		</ul>
		<ul id="wltao-downbar-widget-3" len="724">
			<li  title="点击打开单句翻译功能" len="689"  id="wltao-downbar-fanyi" class="normal">
				<span class="wltao-downbar-btn" len="135">
					<img src="http://js.client.34tao.com/assets/ico/djfy.png"  style="vertical-align: bottom; border: 0px solid rgb(255, 255, 255);">
				</span>
				<div class="xfk" len="501" style="left: -103px; display: none;">
					<div class="ht_tooltip" len="471" style="width: 400px;">
						<div class="ht_tooltip_border" len="374" style="height: 325px;">
							<div class="ht_tooltip_main" len="339">
								<div class="ht_tooltip_title" len="83">
									<div class="ht_tooltip_title_text" len="0"></div>
									<div class="ht_tooltip_title_btn" len="2" lang="zh-chs">关闭</div>
								</div>
								<div class="ht_tooltip_content" len="182">
									<iframe src="http://js.client.34tao.com/iframe/fanyi/fanyi.htm " class="ht-xfk_iframe" width="388" height="295" frameborder="no" border="0" marginwidth="0" marginheight="0" len="0"></iframe>
								</div>
							</div>
						</div>
						<div class="ht_down" len="33">
							<div class="ht_down_arrow" len="0" style="margin-left: 193px;"></div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<span class="wltao-downbar-separator-left" len="0"></span>
		<ul id="wltao-downbar-widget-4" len="936" style="display:none;">
			<li  title="根据您访问的商品页面自动计算到手价，更准确、详细的结果请点击查看" style="background-color: #18b4f0;" len="835">
				<span class="wltao-downbar-btn" len="238">
					<img src="http://js.client.34tao.com/assets/ico/dsj.png" title="计算到手价：约￥301.97人民币" style="vertical-align: bottom; border: 0px solid rgb(255, 255, 255);">
					<span class="wltao-downbar-btn-text" style="color: rgb(255, 255, 255);" lang="zh-chs">计算到手价：约￥人民币</span>
				</span>
				<div class="xfk" len="544" style="display: none;">
					<div class="ht_tooltip" len="514">
						<div class="ht_tooltip_border" len="417">
							<div class="ht_tooltip_main" len="382">
								<div class="ht_tooltip_title" len="95">
									<div class="ht_tooltip_title_text" len="12" lang="zh-chs">海淘助手 - 计算到手价</div>
									<div class="ht_tooltip_title_btn" len="2" lang="zh-chs">关闭</div>
								</div>
								<div class="ht_tooltip_content" len="213">
									<iframe src="http://js.client.34tao.com/iframe/yunfei/yunfei.html?gPrice=49.95&amp;weight=0.95" class="ht-xfk_iframe" width="388" height="295" frameborder="no" border="0" marginwidth="0" marginheight="0" len="0"></iframe>
								</div>
							</div>
						</div>
						<div class="ht_down" len="33">
							<div class="ht_down_arrow" len="0"></div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<span class="wltao-downbar-separator-left" len="0"></span>
		<ul id="wltao-downbar-hid-con-id" class="wltao-downbar-bar-button-right" len="64">
			<li title="缩小海淘助手" len="42" id="wltao-downbar-hid-btn-id" class="normal"><a id="wltao-downbar-show-a" len="0"></a></li>
		</ul>
		<span id="wltao-downbar-hid-sep-id" class="wltao-downbar-hide-separator" len="0"></span>
	</div>
	<div id="wltao-downbar-hide" class="hidden">
		<ul id="wltao-downbar-hid-con-id" class="wltao-downbar-bar-button-right" len="64">
			<li title="缩小海淘助手" len="42" id="wltao-downbar-hid-btn-id" class="normal"><a id="wltao-downbar-hide-a" len="0"></a></li>
		</ul>
	</div>
</div>