<div class="wltao_guide_wrap wltao_font">
	<div class="wltao_guide_title">如何海淘（以Amazon为例）</div>
	<div id="wltao_guide_slide" class="s-demo wltao-scrollable">
		<div class="wltao_guide_step wltao_guide_amazon">
			<div class="wltao_guide_line"></div>
			<div class="wltao_guide_item wltao_guide_1" index="1">1 登录/注册</div>
			<div class="wltao_guide_item wltao_guide_2" index="2">2 加入购物车,去结算</div>
			<div class="wltao_guide_item wltao_guide_3" index="3">3 收货地址</div>
			<div class="wltao_guide_item wltao_guide_4" index="4">4 物流</div>
			<div class="wltao_guide_item wltao_guide_5" index="5">5 信用卡</div>
			<div class="wltao_guide_item wltao_guide_6" index="6">6 账单地址</div>
			<div class="wltao_guide_item wltao_guide_7" index="7">7 确认下单</div>
		</div>
		<span id="scroller-prev" class="prev disable">&lsaquo; 上一页</span>
		<span id="scroller-next" class="next">下一页 &rsaquo;</span>
		<div class="wltao-scroller">
			<div class="ks-switchable-content">
				<img alt="" src="http://js.client.walatao.com/v9/godimage/guid_1.png"/>
				<img alt="" data-ks-lazyload-custom="http://js.client.walatao.com/v9/godimage/guid_2.png"/>
				<img alt="" data-ks-lazyload-custom="http://js.client.walatao.com/v9/godimage/guid_3.png"/>
				<img alt="" data-ks-lazyload-custom="http://js.client.walatao.com/v9/godimage/guid_4.png"/>
				<img alt="" data-ks-lazyload-custom="http://js.client.walatao.com/v9/godimage/guid_5.png"/>
				<img alt="" data-ks-lazyload-custom="http://js.client.walatao.com/v9/godimage/guid_6.png"/>
				<img alt="" data-ks-lazyload-custom="http://js.client.walatao.com/v9/godimage/guid_7.png"/>
			</div>
			<ul class="ks-switchable-nav">
				<li class="ks-active wltao_first"></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li class="wltao_last"></li>
			</ul>
		</div>
	</div>
</div>