<div class="wltao_font wltao_triangle wltao_triangle_{{website}} wltao_tips right wltao_unfold wltao_side_tip">
	<div class="wltao_tips_title">
		<span class="wltao_tips_center">{{name}}可信任，支持以下服务：</span>
	</div>
	<div class="wltao_tips_detail">
		<div class="wltao_intro_item wltao_intro_card"><i></i>{{cardsupport}}</div>
		<div class="wltao_intro_item wltao_intro_fee"><i></i>{{shiptip}}</div>
		<div class="wltao_intro_item wltao_intro_tax"><i></i>{{taxtip}}</div>
		<div class="wltao_intro_close"><span>我知道了，关闭</span></div>
	</div>
</div>