<include file="Public/header" />
<link rel="stylesheet" type="text/css" href="/Public/Home/css/list.css"/>

<script>
/* 显示对应的职位 */
 window.onload= function(){
	 $('#box_jobcate dl dd').eq(<php>echo $_GET[sj];</php>).show();}
</script>

<div class="w960 mt30">
   <!-- 左侧菜单开始-->
   <div class="lw240">
     <div class="navbg">
      <h2 class="shownav">行业领域<i class="btnsj"></i></h2>
      
        <div class="mod-menu">
          <!-- 一级分类 -->
          <ul class="menu-item">
            <li>互联网/游戏/软件</li>
            <li>电子/通信/硬件</li>
            <li>房地产/建筑/物业</li>
            <li>金融</li>
            <li>消费品</li>
            <div class="mr-item dn">
                <li>广告/媒体/教育/文化</li>
                <li>汽车/机械/制造</li>
            </div>
            <a class="shownavmr minmr" href="javascript:void(0)">更多<i class="btnsj1"></i></a>
          </ul>
          <!-- 二级分类 -->
         <div id="box_job" class="menu-cont">
            <ul> 
               <li><em>1</em>互联网/移动互联网/电子商务</li>
               <li><em>2</em>计算机软件</li>
               <li><em>3</em>网络游戏</li>
               <li><em>4</em>IT服务/系统集成</li>
               <div class="clr"></div>
             </ul>
             
             <ul>
               <li><em>6</em>通信设备</li>
               <li><em>7</em>运营</li>
               <li><em>8</em>增值</li>
               <li><em>9</em>运营</li>
               <div class="clr"></div>
             </ul>
             
             <ul> 
               <li><em>10</em>房地产开发/建筑/建材/工程</li>
               <li><em>11</em>物业管理/地产经纪</li>
               <li><em>12</em>规划/设计/装潢</li>
               <div class="clr"></div>
             </ul>
             
             <ul> 
               <li><em>13</em>银行</li>
               <li><em>14</em>基金/证券/期货/投资</li>
               <li><em>15</em>保险</li>
               <li><em>16</em>会计/审计</li>
               <div class="clr"></div>
             </ul>
             
             <ul> 
               <li><em>17</em>食品/饮料/烟酒/日化</li>
               <li><em>18</em>百货/批发/零售</li>
               <li><em>19</em>服装服饰/纺织/皮革</li>
               <li><em>20</em>办公用品及设备</li>
               <li><em>21</em>家具/家电</li>
               <li><em>22</em>奢侈品/收藏品</li>
               <div class="clr"></div>
             </ul>
             
             <ul>
               <li><em>23</em>广告/公关/市场推广/会展</li>
               <li><em>24</em>运营</li>
               <li><em>25</em>增值</li>
               <li><em>26</em>运营</li>
               <div class="clr"></div>
             </ul>
             
             <ul>
               <li><em>27</em>汽车/摩托车</li>
               <li><em>28</em>运营</li>
               <li><em>29</em>增值</li>
               <li><em>30</em>运营</li>
               <div class="clr"></div>
             </ul>
          </div>
          
        </div>
                
        <h2 class="shownav1 fgxian <php>if(!isset($_GET['sj'])) echo 'dn';</php>">职位<i class="btnsj <php>if(!empty($_GET['zw'])) echo 'btnsjhv';</php>"></i></h2>
         <php>geturl('职位','zw');</php>
        <div id="box_jobcate" class="<php>if(!empty($_GET['zw'])) echo 'dn';</php>">
          <dl>
            <dd>
              <div>技术/测试/运维</div>
              <div>产品/运营/策划</div>
              <div>项目管理</div>
              <div>设计/美术</div>
              <div>内容编辑</div>
              <div>市场营销/销售/商务/客服/公关</div>
              <div>人力/行政/财务/法务</div>
              <div>其他</div>
            </dd>
            
            <dd>
              <div>技术/测试</div>
              <div>供应链/采购/贸易</div>
              <div>市场营销/销售/商务/客服/公关</div>
              <div>人力/行政/财务/法务</div>
              <div>其他</div>
            </dd>
            
            <dd>
              <div>建筑工程</div>
              <div>项目开发</div>
              <div>规划/设计/装潢</div>
              <div>物业管理/地产经纪</div>
              <div>招商/投资</div>
              <div>供应链/采购</div>
            </dd>
            
            <dd>
              <div>客户经理</div>
              <div>信贷/风控/结算/后台支持</div>
              <div>理财顾问/保险代理人</div>
              <div>精算/核保/再保险</div>
              <div>会计/财务经理/审计</div>
              <div>证券/外汇/期货经纪人</div>
            </dd>
            
            <dd>
              <div>研发/工艺</div>
              <div>供应链/采购/贸易</div>
              <div>生产/运作/营运/维修</div>
              <div>品控/质检/工程/风险</div>
            </dd>
            
            <dd>
              <div>创意/策划</div>
              <div>广告执行</div>
              <div>会展</div>
              <div>影视/媒体</div>
            </dd>
            
            <dd>
              <div>建筑工程</div>
              <div>项目开发</div>
              <div>规划/设计/装潢</div>
            </dd>
            
            
          </dl>
        </div>
                                        
        
        <div id="options" class="greybg">
        
          <dl class="<php>showsty('yx','show1');</php>">
            <dt>月薪范围<em  class="<php>showsty('yx','show2');</php>"></em></dt>
            <php>geturl('月薪范围','yx');</php>
            <dd class="<php>showsty('yx')</php>">
              <div>2k以下</div>
              <div>2k-5k</div>
              <div>5k-10k</div>
              <div>10k以上</div>
            </dd>
          </dl>
          
          <dl class="<php>showsty('gs','show1');</php>">
            <dt>公司性质<em  class="<php>showsty('gs','show2');</php>"></em></dt>
            <php>geturl('公司性质','gs');</php>
            <dd class="<php>showsty('gs')</php>">
              <div>国企</div>
              <div>外企</div>
              <div>民企</div>
              <div>公务员/事业单位</div>
            </dd>
          </dl>
          
          
          <dl class="<php>showsty('xl','show1');</php>">
            <dt>学历要求<em  class="<php>showsty('xl','show2');</php>"></em></dt>
            <php>geturl('学历要求','xl');</php>
            <dd class="<php>showsty('xl')</php>">
              <div>不限</div>
              <div>大专</div>
              <div>本科</div>
              <div>硕士</div>
              <div>博士</div>
            </dd>
          </dl>
          
         <dl class="<php>showsty('gx','show1');</php>">
            <dt>工作性质<em  class="<php>showsty('gx','show2');</php>"></em></dt>
            <php>geturl('工作性质','gx');</php>
            <dd class="<php>showsty('gx')</php>">
              <div>全职</div>
              <div>兼职</div>
              <div>实习</div>
            </dd>
          </dl>
          
          
          <dl class="<php>showsty('gj','show1');</php>">
            <dt>工作经历<em  class="<php>showsty('gj','show2');</php>"></em></dt>
            <php>geturl('工作经历','gj');</php>
            <dd class="<php>showsty('gj')</php>">
              <div>应届毕业生</div>
              <div>1年以下</div>
              <div>1-3年</div>
              <div>3年以上</div>
            </dd>
          </dl>
          
        </div>

              
              
     </div>
     </div>
     
  <!-- 右侧列表开始-->
   <div class="rw680">
   
     <!-- 搜索开始-->
     <div class="soubox">

          
     <form id="searchForm" name="searchForm" action="?/jobs/list_" method="get">
        <input type="text" class="stxt" id="search_input" name = "kd"  tabindex="1" value=""  placeholder="搜索你感兴趣的职位"  />
        <input type="hidden" name="spc" id="spcInput" value="1"/>
        <input type="hidden" name="pl" id="plInput" value="<php>echo $_GET['pl']</php>"/>
        <input type="hidden" name="hy" id="hyInput" value="<php>echo $_GET['hy']</php>"/>
        <input type="hidden" name="zw" id="zwInput" value="<php>echo $_GET['zw']</php>"/>
        <input type="hidden" name="gj" id="gjInput" value="<php>echo $_GET['gj']</php>"/>
        <input type="hidden" name="xl" id="xlInput" value="<php>echo $_GET['xl']</php>"/>
        <input type="hidden" name="yx" id="yxInput" value="<php>echo $_GET['yx']</php>"/>
        <input type="hidden" name="gs" id="gsInput" value="<php>echo $_GET['gs']</php>" />
        <input type="hidden" name="gx" id="gxInput" value="<php>echo $_GET['gx']</php>" />
        <input type="hidden" name="px" id="pxInput" value="<php>echo $_GET['px']</php>" />
        <input type="hidden" name="sj" id="sjInput" value="<php>echo $_GET['sj']</php>"/>
        <input type="hidden" name="labelWords" id="labelWords" value="label" />
        <input type="hidden" name="lc" id="lc" value="" />
        <input type="hidden" name="workAddress" id="workAddress" value=""/>
        <input type="hidden" name="city" id="cityInput" value="<php>echo $_GET['city']</php>"/>
        <input type="hidden" name="requestId" id="requestId" value=""/>
        <input type="submit" class="sbtn" id="search_button" value="搜索" />
    </form>
         <div class="clr"></div>
     </div>
     
     <div id="mycity" class="shaixuan">
       <span>工作地点：</span>
       <a href="#" class="<php>showsx('city','北京')</php>">北京</a><em>|</em>
       <a href="#" class="<php>showsx('city','上海')</php>">上海</a><em>|</em>
       <a href="#" class="<php>showsx('city','广州')</php>">广州</a><em>|</em>
       <a href="#" class="<php>showsx('city','天津')</php>">天津</a>
       <div class="clr"></div>
     </div>
     
     <div id="paixu" class="shaixuan">
       <span>排序：</span>
       <a href="#" class="<php>showsx('px','1')</php>"><i>1</i>人气</a><em>|</em>
       <a href="#" class="<php>showsx('px','2')</php>"><i>2</i>最新更新</a>
       <div class="clr"></div>
     </div>
     
     
     <!-- 职位列表开始-->
     <div class="listjob">
       <ul>
          <li class="bgf9">
           <a href="#"><img src="http://www.lagou.com/image1/M00/25/D4/Cgo8PFVS2SeAWgf8AACUSzhxomw100.png" /></a>
           <div class="info">
             <a href="#" class="til">游戏策划</a><font class="f16">[北京]</font><br />
             月薪：4-5 k&nbsp;&nbsp;&nbsp;经验：应届毕业生&nbsp;&nbsp;&nbsp;学历要求：本科<br />
             职位诱惑：全新领域，扁平管理，期权激励
             <span><a class="til" href="#">腾讯</a> - 移动互联网、游戏</span>
           </div>
            <a href="#" class="mybtn shenq">申请职位</a>
          </li>
          
          <li class="">
            <a href="#"><img src="http://www.lagou.com/image1/M00/25/D4/Cgo8PFVS2SeAWgf8AACUSzhxomw100.png" /></a>
           <div class="info">
             <a href="#" class="til">游戏策划</a><font class="f16">[北京]</font><br />
             月薪：4-5 k&nbsp;&nbsp;&nbsp;经验：应届毕业生&nbsp;&nbsp;&nbsp;学历要求：本科<br />
             职位诱惑：全新领域，扁平管理，期权激励
             <span><a class="til" href="#">腾讯</a> - 移动互联网、游戏</span>
           </div>
            <a href="#" class="mybtn shenq">申请职位</a>
          </li>
          
          <li class="bgf9">
           <a href="#"><img src="http://www.lagou.com/image1/M00/25/D4/Cgo8PFVS2SeAWgf8AACUSzhxomw100.png" /></a>
           <div class="info">
             <a href="#" class="til">游戏策划</a><font class="f16">[北京]</font><br />
             月薪：4-5 k&nbsp;&nbsp;&nbsp;经验：应届毕业生&nbsp;&nbsp;&nbsp;学历要求：本科<br />
             职位诱惑：全新领域，扁平管理，期权激励
             <span><a class="til" href="#">腾讯</a> - 移动互联网、游戏</span>
           </div>
            <a href="#" class="mybtn shenq">申请职位</a>
          </li>
          
          <li class="">
           <a href="#"><img src="http://www.lagou.com/image1/M00/25/D4/Cgo8PFVS2SeAWgf8AACUSzhxomw100.png" /></a>
           <div class="info">
             <a href="#" class="til">游戏策划</a><font class="f16">[北京]</font><br />
             月薪：4-5 k&nbsp;&nbsp;&nbsp;经验：应届毕业生&nbsp;&nbsp;&nbsp;学历要求：本科<br />
             职位诱惑：全新领域，扁平管理，期权激励
             <span><a class="til" href="#">腾讯</a> - 移动互联网、游戏</span>
           </div>
            <a href="#" class="mybtn shenq">申请职位</a>
          </li>

          
       </ul>
     </div>
     <!-- 职位列表结束-->
     
     
     <!-- 翻页-->
    <div class="Pagination"></div>
     
   </div>
     
<div class="clr" style="height:50px;"></div>
  
</div>

<script type="text/javascript" src="/Public/Home/js/core.min.js"></script>

<script>
$(function(){
    $(".shownav").click(function(){
		$(this).find("i").toggleClass("btnsjhv");
        $(this).next().slideToggle(200);//需要展开的内容
    });
	 $(".shownav1").click(function(){
		$(this).find("i").toggleClass("btnsjhv");
        $('#box_jobcate').slideToggle(200);//需要展开的内容
    });
	
	 $(".shownavmr").click(function(){
		$(this).find("i").toggleClass("btnsjhv1");
        $(this).prev().slideToggle(200);//需要展开的内容
		$(".menu-cont").hide();
    });
	
	$(".shownavmr").hover(function(){
		$(".menu-cont").hide();
		$(".menu-item li").removeClass("mouse-bg");
		$(".mr-item li").removeClass("mouse-bg");
    });
	
});

</script>

<script type="text/javascript">
$(document).ready(function(){
	var mod_menu=$(".mod-menu");//导航模块区
	var menu=function(){
		var menuItem=$(".menu-item li");//选择导航列表
		var mrItem=$(".mr-item li");//选择导航列表
		menuItem.each(function(){
			var _index=$(this).index();//获取当前选择菜单列表的索引
			$(this).mouseenter(function(){
				var y = $(this).position().top+1;//获取当前鼠标滑过的列表的顶部坐标
				$(".menu-cont").show();
				$(".menu-cont").css("top",y);//需要显示的对应索引内容
				$(this).addClass("mouse-bg").siblings().removeClass("mouse-bg");
				$(".menu-cont>ul").eq(_index).show().siblings().hide();
				mrItem.removeClass("mouse-bg");
			});
		});
		
		mrItem.each(function(){
			var _index=$(this).index()+5;//获取当前选择菜单列表的索引
			$(this).mouseenter(function(){
				var y = $(this).position().top+1;
				$(".menu-cont").show();
				$(".menu-cont").css("top",y);
				$(this).addClass("mouse-bg").siblings().removeClass("mouse-bg");
				$(".menu-cont>ul").eq(_index).show().siblings().hide();
				$(this).parent().siblings('li').removeClass("mouse-bg");
			});
		});
		/*导航菜单菜单*/
		$(".mod-menu").mouseleave(function(){
			$(".menu-cont").hide();
			menuItem.removeClass("mouse-bg");
		})
	}//展开二级菜单	
	menu();//执行展开二级菜单函
});
</script>



<script>
$(function(){
	/***************************
 	 * 分页
 	 */
	 var getpn='<php>echo $_GET[pn];</php>';
 	 	$('.Pagination').pager({
		      currPage: getpn,//阿丁，这里获取地址栏参数
		      pageNOName: "pn",
		      form: "searchForm",
		      pageCount: 30,
		      pageSize:  5 
		});
		
	$(".workplace dd").not('.more').children('a').click(function(){
		var cityVal = $(this).text();
		var cityjob = $('#box_expectCity').attr("data-cityjob");
		if(cityjob == 'true'){
			return true;
		}else{
			$('#lc').val(1);
			editForm("cityInput" , cityVal);
			return false;
		}
	});

	$("#box_expectCity dd a").click(function(){
		var cityjob = $('#box_expectCity').attr("data-cityjob");
		var cityVal = $(this).text();
		if(cityjob == 'true'){
			return true;
		}else{
			$('#lc').val(1);
			editForm("cityInput" , cityVal);
			return false;
		}
	});
	
	$('#options dd div').click(function(){
		var firstName = $(this).parents('dl').children('dt').text();
		var fn = $.trim(firstName);
		//alert(fn);
		if (fn=="月薪范围"){
			editForm("yxInput" , $(this).html());
		}
		else if(fn=="工作经历"){
			editForm("gjInput" , $(this).html());
		}
		else if(fn=="学历要求"){
			editForm("xlInput" , $(this).html());
		}
		else if(fn=="工作性质"){
			editForm("gxInput" , $(this).html());
		}
		else if(fn=="公司性质"){
			editForm("gsInput" , $(this).html());
		}
	});
	
   
	
	
	$('#box_job ul li').click(function(){
		var mynum = $(this).parents('ul').index();
		editForm("hyInput" , $(this).find('em').html());
		editForm("sjInput" , mynum);
		editForm("zwInput" , "");
	});
	
	 $('#box_jobcate dd div').click(function(){
		 editForm("zwInput" , $(this).html());
	});
	 $('#mycity a').click(function(){
		 editForm("cityInput" , $(this).html());
	});
	 $('#paixu a').click(function(){
		 editForm("pxInput" , $(this).find('i').html());
	});


	
	$('.selected').delegate('.select_remove','click',function(event){
		var firstName = $(this).siblings('strong').text();
		var fn = $.trim(firstName);
		if (fn=="月薪范围")
			editForm("yxInput" , "");
		else if(fn=="工作经历")
			editForm("gjInput" , "");
		else if(fn=="学历要求")
			editForm("xlInput" , "");
		else if(fn=="工作性质")
			editForm("gxInput" , "");
		else if(fn=="公司性质")
			editForm("gsInput" , "");
		else if(fn=="职位")
			editForm("zwInput" , "");	
	});
	


	//end

    
    //展示类数据接口
    (function($){
        var resList = $('.hot_pos').children('li');
        var arr = [];
        resList.each(function(){
            var me = $(this);
            arr.push( me.attr('data-jobId'));
        });
        var z = Math.random();
        var jids = arr.join(',');
        var v = $('#version').val();
        var currUrl = encodeURIComponent( document.URL );
        var params = {
            v:v,
            dl:currUrl,
            jids:jids,
            z:z
        }
        postoA(params);
    })(jQuery)
});

function editForm(inputId,inputValue){
	$("#"+inputId).val(inputValue);
	var keyword = $.trim($('#search_input').val());
	var reg =  /[`~!@\$%\^\&\*\(\)_<>\?:"\{\},\\\/;'\[\]]/ig;
	var re = /#/g;
	var r = /\./g;
	var kw = keyword.replace(reg," ");
	if(kw == ''){
		$('#searchForm').attr('action','?/jobs/list_所有职位').submit();	
	}else{
		kw = kw.replace(re,'井');
		kw = kw.replace(r,'。');
		$('#searchForm').attr('action','?/jobs/list_'+kw).submit();
	}
	//$("#searchForm").submit();
}
</script>

<include file="Public/footer" />